body{
    margin: 0;
    background-image: url('image/creepy.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    height: 100%;
    width: 100%;
}

.header {
    width: 100vw;
    margin-bottom: 0;
    height: 18vh;
   /* background-color: #08A9C8;
*/
}


.option {
    border-top: 1px solid #96d1f8;
    background: #ff5100;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff0000), to(#ff5100));
    background: -webkit-linear-gradient(top, #ff0000, #ff5100);
    background: -moz-linear-gradient(top, #ff0000, #ff5100);
    background: -ms-linear-gradient(top, #ff0000, #ff5100);
    background: -o-linear-gradient(top, #ff0000, #ff5100);
    padding: 5px 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 13px;
    font-family: Georgia, serif;
    text-decoration: none;
    vertical-align: middle;
    position: relative;
    top: 50px;
    left: 25%;
}

.option:hover {
    border-top-color: #28597a;
    background: #28597a;
    color: #ccc;

}

.title {
    height: 20vh;
   text-align: center;
    position: absolute;
}

ul{
    margin-top: 0;
}




.main_container{
    display:flex;
    max-width: 1200px;
    margin: auto;
}

#stats_container {
    width: 15vw;
    height: 65vh;
    float: left;
    border: 5px solid black;
    background-color:  #F23D04;
    box-sizing: border-box;
    border-radius: 90px;
}

.stats_title{
    font-family: 'Allan', Helvetica, Arial, sans-serif;
    color: #222032;
    width: 50%;
    margin-left: 25%;
    text-align: center;
}

.stats {
    font-family: 'Allan', Helvetica, Arial, sans-serif;
    color: #222032;
}

.game_stats {
    list-style-type: none;
    font-size: 1.5em;
    max-width: 126px;
    position: relative;
    margin-left: 11%;
    height: 40%;
    padding: 18px;
    text-align: center;

}

.game_stats li {
    padding-bottom: 26px;
}

.reset {
    width: 100px;
    height: 50px;
    border: 3px solid #151d21;
    background: #4ca8e6;
    background: -webkit-gradient(linear, left top, left bottom, from(#cdb1f2), to(#4ca8e6));
    background: -webkit-linear-gradient(top, #cdb1f2, #4ca8e6);
    background: -moz-linear-gradient(top, #cdb1f2, #4ca8e6);
    background: -ms-linear-gradient(top, #cdb1f2, #4ca8e6);
    background: -o-linear-gradient(top, #cdb1f2, #4ca8e6);
    background-image: -ms-linear-gradient(top, #cdb1f2 0%, #4ca8e6 100%);
    padding: 11px 22px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    text-shadow: #d62020 0 1px 0;
    color: #ff3b3b;
    font-size: 18px;
    font-family: helvetica, serif;
    text-decoration: none;
    vertical-align: middle;
    margin-top: 20px;
    margin-left: 26%;
}

.reset:hover {
    cursor: pointer;
    border: 3px solid #0a3c59;
    text-shadow: #1e4158 0 1px 0;
    background: #3e779d;
    background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
    background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
    background: -moz-linear-gradient(top, #65a9d7, #3e779d);
    background: -ms-linear-gradient(top, #65a9d7, #3e779d);
    background: -o-linear-gradient(top, #65a9d7, #3e779d);
    background-image: -ms-linear-gradient(top, #65a9d7 0%, #3e779d 100%);
    color: #fff;
}

#game_area {
    text-align: center;
    max-width: 65%;
    float: left;
    height: 80vh;
    box-sizing: border-box;
}

.card{
    position: relative;
    max-width: 12%;
    display: inline-block;
    width: 150px;
    height: 150px;
    margin: 7px;
    border: 2px solid black;
    transition-duration: .7s;
    transform-style: preserve-3d;
}

.back:hover{
    cursor: pointer;
    transform: scale(1.05);

}

.front, .back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.front {
    transform: rotate3D(0,1,0,180deg);
    background-color: black;
    opacity: 0.8;
}

.backimage, .frontimage {
    width: 100%;
    height: 100%;
}

.mystery {
    width: 15vw;
    height: 60vh;
    float: left;
    border: 5px solid black;
    background-color:  #F23D04;
    box-sizing: border-box;
    position: relative;

}

.mystery_artist{
    position: relative;
    height: 80%;
    width: 100%;
    top: 0;
    left: 0;

}

.input_artist {
    position: relative;
    width: 60%;
    height: 7%;
    left: 20%;
    border: 4px solid black;
}

.question_container{
    width: 100%;
    height: 16%;
    margin: 0;
    top: 0;
    left: 0;
    position: relative;
    z-index: 1;
}

.question {
    width: 100%;
    height: 100%;
}

.artist_holder {
    width: 100%;
    height: 100%;
}

.flipcard{
    transform: rotate3D(0,1,0,180deg);
}

.hint {
    float: right;
}

.input_button {
    position: relative;
    top: 6px;
    left: 65px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: 3px solid #a12727;
    border-radius: 32px;
    background: #262323;
    background: -webkit-gradient(linear, left top, left bottom, from(#262323), to(#8f17ff));
    background: -moz-linear-gradient(top, #262323, #8f17ff);
    background: linear-gradient(to bottom, #262323, #8f17ff);
    text-shadow: #591717 1px 1px 1px;
    font: normal normal bold 20px arial;
    color: #ffffff;
    text-decoration: none;

}

.input_button:hover {
    cursor: pointer;
    border: 3px solid #3d80c5;
    background: #5fc7ff;
    background: -webkit-gradient(linear, left top, left bottom, from(#5fc7ff), to(#3b7abe));
    background: -moz-linear-gradient(top, #5fc7ff, #3b7abe);
    background: linear-gradient(to bottom, #5fc7ff, #3b7abe);
    color: #ffffff;
    text-decoration: none;
}

.mysterySolved {
    position:absolute;
    top: 25%;
    left: 29%;
    display: none;
}

@media screen and (min-width: 1600px){
    .main_container{
        max-width: 1600px;
    }
    #game_area{
        max-width: 70%;
    }
    .reset{
        margin-left: 30%;
    }
    .card{
        width: 200px;
        height: 200px;
        margin: 16px;
    }
    .game_stats{
        margin-left: 17%;
        font-size: 1.7em;
    }
    .input_button{
        top: 46px;
        border: 6px solid #a12727;
        left: -65px;
    }
    .mystery{
        width: 18vw;
        height: 50vh;
    }
    #stats_container{
        width: 18vw;
        height: 50vh;
    }
}


@media screen and (max-width: 1035px){
    .header{
        height:2vh;
    }
    .title{
        height: 5vh;
    }
    .main_container{
        flex-wrap:wrap;
    }

    #game_area{
        order:0;

        height: auto;
        margin: auto;
    }
    #stats_container{
        float:none;
        order: 1;
        height: auto;
        margin: auto;
    }
    .card{
        width: 70px;
        height: 70px;
    }
    .mystery{
        float: none;
        height: auto;
        margin: auto;
        order: 2;
    }
}


